:root{
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);

  }
  
  
   #enter {
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: fixed;
  width: 800px;
  margin: 0 ;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: 1;
  transition: opacity 0.7s ease-in;
  font-size: 24px;
  }
  
  
  .blurpage{
  background:rgb(0 0 0/15%);
  backdrop-filter:blur(12px);
  position: fixed;
  width: 800px;
  margin: 0 ;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: 1;
  transition: opacity 0.7s ease-in;
  }
  
  .inside{
  font-size: 36px;
  color: #ffffff;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  transition: all 0.1s1s ease-out;
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
  }
  
  .margin-content{
    margin-top: 0vh;
  }
  
  .gradient-txt{
    color: transparent;
    font-size: 3rem;
    margin-bottom: 0;
  }
  
  .bio {
    font-size: 15px;
    margin: 0;
  }
  
  .pfp {
    border-radius: 100px;
    width: 130px;
    height: 130px;
  }
  
  .social-link-x {
  font-size: 20px;
  padding: 3px;
  color: rgb(220, 220, 220);
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  }

  .social-link-ig {
    font-size: 20px;
    padding: 3px;
    color: rgb(220, 220, 220);
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    }
 .social-link-discord {
      font-size: 20px;
      padding: 3px;
      color: rgb(220, 220, 220);
      transition: all 0.2s ease-in-out;
      background-color: transparent;
      }

   .social-link-steam {
        font-size: 20px;
        padding: 3px;
        color: rgb(220, 220, 220);
        transition: all 0.2s ease-in-out;
        background-color: transparent;
        }

        .social-link-soundcloud {
          font-size: 20px;
          padding: 3px;
          color: rgb(220, 220, 220);
          transition: all 0.2s ease-in-out;
          background-color: transparent;
          }

        .social-link-tiktok {
          font-size: 20px;
          padding: 3px;
          color: rgb(220, 220, 220);
          transition: all 0.2s ease-in-out;
          background-color: transparent;
          }

          .social-link-tele {
            font-size: 20px;
            padding: 3px;
            color: rgb(220, 220, 220);
            transition: all 0.2s ease-in-out;
            background-color: transparent;
            }



  .social-link-x:hover {
  color: #777777;
  background-color: transparent;
  }

  .social-link-ig:hover {
    color: #777777;
    background-color: transparent;
    }

    .social-link-discord:hover {
      color: #777777;
      background-color: transparent;
      }

      .social-link-steam:hover {
        color: #777777;
        background-color: transparent;
        }

        .social-link-soundcloud:hover {
          color: #777777;
          background-color: transparent;
          }

          .social-link-tiktok:hover {
            color: #777777;
            background-color: transparent;
            }

            .social-link-tele:hover {
              color: #777777;
              background-color: transparent;
              }
              
              .social-link-x:hover {
                color: #777777;
                background-color: transparent;
                }
  

  .discord-rpc {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 32px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
/* -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75); */
/* -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255); */
/* box-shadow: 0px 0px 15px 5px hsla(0, 4%, 20%, 0.18); */
overflow: auto;
width: 380px;
transition: transform 0.5s;
  }

  .discord-rpc:hover {
    transform: scale(1.02);
  }

  
  @media (max-width: 400px){
    .glass-box{
        padding: 30px;
    }
  }
  
  .footer{
    bottom: 0;
    position: absolute;
    width: 100%;
  
  }
  
  h1 {
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    text-align: center;
    white-space: nowrap;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    background-size: 100%; 
     
  }
  
  .icon {
    display: inline-block;
    transition: transform 0.5s;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }

  .badge {
    display: inline-block;
    transition: transform 0.5s;
  }
  
  .badge:hover {
    transform: scale(1.1);
  }
  
.multipoint {
	display:none;
}
.multipoint#point-8 {
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
.multipoint#point-8>img {
	opacity:0.5;
}
.kill-feed {
	position:absolute;
	top:20px;
	right:20px;
}
.kill-feed>div {
	padding:3px 6px 3px 6px;
	margin:0;
	display:inline-block;
	float:right;
	clear:both;
	border: 2px solid rgba(117, 117, 117, 0.15);
	line-height:18px;
	font-size:15px;
	font-weight:normal;
	text-decoration:none;
	text-align:right;
	border-radius:4px;
	background: rgba(117, 117, 117, 0.1);
	margin-bottom:6px;
}
.kill-feed div span {
	vertical-align:middle;
}
.kill-feed div span.weapons>img {
	border:none;
	outline:none;
	vertical-align:middle;
	margin:0px 3px;
}
.kill-feed div>span.player {
	font-family: 'Rajdhani', sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0 2px;
}
.kill-feed div>span.player.ct {
	color:#ff2c2c;
	padding-left:2px;
}
.kill-feed div>span.player.t {
	color:#5871ff;
	padding-right:4px;
}

#bgvid{
    position: fixed;
    top:50%;
    left:50%;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;
}

#audioVisualizer {
  position: fixed;
  bottom: 50px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter:blur(6px);
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}